@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/navbar";

$block-height: 100vh;
$max-block-height: 600px;

body{
    margin: 0;
}

.bg-dark{
    opacity: 90%;
    width: 100%;
    background: black !important;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
}

#intro-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: $block-height;
    overflow: hidden;
}

.video{
    position: relative;
    z-index: 0;
}

.video video{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#intro-container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 25%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.title-container{
    margin: 0 auto;
}

.title-container h1{
    color: #000;
    font-size: 5vw;
    text-align: center;
    font-family: 'Jura',sans-serif;
}

#intro-container .title-container{
    border: 0.25vw solid #eaeaea;
}

#intro-container .title-container h1{
    color: #eaeaea;
}

#about-container{
    display: flex;
    width: 100%;
    height: $block-height;
    max-height: 600px;
    flex-direction: column;
    align-items: center;
}

#about-container .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    width: 50%;
    height: auto;
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-left: 8%;
    margin-right: 8%;
    padding: 0;
}

.card p:first-child{
    font-size: 10pt;
}

.card p:last-child{
    font-size: 10pt;
}

.card-img-top{
    margin-top: 5%;
    width: 20%;
    height: 20%;
}

.card-text{
    justify-content: center;
}

#about-container #about-title-container{
    margin-top: 5%;
    display: inline-flex;
    color: $black;
    font-family: 'Jura', sans-serif;
}

#about-container #about-title-container h1{
    font-size: 6vw;
    text-align: justify;
}

#quote-container{
    display: flex;
    width: 100%;
    height: $block-height;
    background-color: #eaeaea;
    flex-direction: column;
    justify-content: center;
}


#skills-container{
    display: flex;
    width: 100%;
    height: $block-height;
    max-height: $block-height;
    flex-direction: column;
    align-items: center;
}

#skills-container .content{
    display: flex;
    padding: 10%;
    flex-direction: row;
    height: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.progressbar{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.box .progressbar svg{
    width: 100%;
    height: 100%;
}

circle{
    stroke-dasharray: 510;
    stroke-dashoffset: 510;
}

.main-circle{
    fill: #eee;
    stroke: #eaeaea;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-dashoffset: 0;
}

.box{
    width: 20%;
    height: 50%;
}

.box .border-circle{
    fill: none;
    stroke-width: 0.5vw;
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
}

#html .border-circle{
    stroke: rgb(0, 119, 255);
    stroke-dashoffset: 94%;
}

#c .border-circle{
    stroke: rgb(93, 0, 180);
    stroke-dashoffset: 67%;
}

#python .border-circle{
    stroke: rgb(0, 190, 10);
    stroke-dashoffset: 45%;
}

#sql .border-circle{
    stroke: rgb(247, 191, 10);
    stroke-dashoffset: 87%;
}

#photoshop .border-circle{
    stroke: rgb(247, 10, 128);
    stroke-dashoffset: 100%;
}

.percent{
    position: absolute;
}

.title{
    font-family: 'Juri', sans-serif;
    color: black;
}

#skills-container #skills-title-container{
    margin-top: 10%;
    display: inline-flex;
    color: $black;
    font-family: 'Jura', sans-serif;
}

#skills-container #skills-title-container h1{
    text-align: justify;
}
