@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/navbar";

$video-height: 735px;

body{
    display: flex;
    flex-direction: column;
}

.bg-dark{
    opacity: 90%;
    width: 100%;
    background: black !important;
}

.content{
    display: flex;
    width: 100%;
    height: $video-height;
}

#intro-container{
    width: 100%;
    height: $video-height;
    flex-direction: column;
}

#intro-container .content{
    flex-direction: column;
    background: url("../img/viggnete.png");
    position: absolute;
    top: 0;
}

video{
    position: absolute;
    width: 100%;
}

.content #name-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: $video-height - 81px;
    justify-content: center;
    align-items: center;
}

.content #name-container{
    display: inline-flex;
    color: $white;
    font-family: 'Jura', sans-serif;
    border: 4px solid $white;
    padding: 1%;
}

.content #name-container h1{
    text-align: center;
}

#about-container{
    display: flex;
    width: 100%;
    height: $video-height;
    flex-direction: column;
    align-items: center;
}

#about-container .content{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0,10%,10%,10%;
}
.card{
    width: 80%;
    height: 80%;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.card-img-top{
    width: 50%;
    height: 50%;
}

#about-container #about-title-container{
    margin-top: 10%;
    display: inline-flex;
    color: $black;
    font-family: 'Jura', sans-serif;
}

#about-container #about-title-container h1{
    text-align: justify;
}

#quote-container{
    display: flex;
    width: 100%;
    height: $video-height;
    background-color: #eaeaea;
    flex-direction: column;
    justify-content: center;
}


#skills-container{
    display: flex;
    width: 100%;
    height: $video-height;
    flex-direction: column;
    align-items: center;
}

#skills-container .content{
    padding: 10%;
    flex-direction: row;
}

.box{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.progressbar{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.box .progressbar svg{
    width: 100%;
    height: 100%;
}

circle{
    stroke-dasharray: 510;
    stroke-dashoffset: 510;
}

.main-circle{
    fill: #eee;
    stroke: #eaeaea;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-dashoffset: 0;
}

#html .border-circle{
    fill: none;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke: rgb(0, 119, 255);
    stroke-dashoffset: calc(705 - (510 * 99)/100);
    transform-origin: center;
    transform: rotate(-90deg);
}

#c .border-circle{
    fill: none;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke: rgb(93, 0, 180);
    stroke-dashoffset: calc(605 - (510 * 67)/100);
    transform-origin: center;
    transform: rotate(-90deg);
}

#python .border-circle{
    fill: none;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke: rgb(0, 190, 10);
    stroke-dashoffset: calc(570 - (510 * 45)/100);
    transform-origin: center;
    transform: rotate(-90deg);
}

#sql .border-circle{
    fill: none;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke: rgb(247, 191, 10);
    stroke-dashoffset: calc(675 - (510 * 87)/100);
    transform-origin: center;
    transform: rotate(-90deg);
}

#photoshop .border-circle{
    fill: none;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke: rgb(247, 10, 128);
    stroke-dashoffset: calc(685 - (510 * 100)/100);
    transform-origin: center;
    transform: rotate(-90deg);
}

.percent{
    position: absolute;
}

.title{
    font-family: 'Juri', sans-serif;
    color: black;
}

#skills-container #skills-title-container{
    margin-top: 10%;
    display: inline-flex;
    color: $black;
    font-family: 'Jura', sans-serif;
}

#skills-container #skills-title-container h1{
    text-align: justify;
}